<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        .box { 
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 100;
            margin: 10;
        }

        .container { 
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 100;
            margin: 10;
        },

        .card {
            margin-top: 100;
            margin: 10;
            top: 50%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="box">
        <div class="container">
            <h3>
                HELLO WORLD ! This is Index, Rico's Project
            </h3>
        </div>
    </div>
</body>
</html>
