<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .box { 
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 100;
            margin: 10;
        }

        .container { 
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 100;
            margin: 10;
        },

        .card {
            margin-top: 100;
            margin: 10;
            top: 50%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="box">
        <div class="container">
            <h2> Registration Form </h2>
        </div>
    </div>
    <div class="box">
        <div class="container">
            <div class="card">
                <form action="/auth/register" method="post">
                    <div class="container">
                        <label for="username">Username</label>
                        <br>
                        <input type="text" name="username" placeholder="Insert Username">
                        <br>
                    </div>
                        <br>
                    <div class="container">
                        <label for="password">Password</label>
                        <br>
                        <input type="text" name="password" placeholder="Insert Password">
                        <br>
                    </div>
                    <div class="button">
                        <div class="container">
                            <div class="mt-3">
                                <!-- <a href="/auth/register"> -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="container">
                            <a href="/auth/login">Already Have Account? Login Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
