<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/auth/register" method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="Insert Username">
        <br>

        <label for="password">Password</label>
        <br>
        <input type="text" name="password" placeholder="Insert Password">
        <br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
